.header{
    z-index: 100;
    position: fixed;background-color: #012030;
    top: 0;
    width: 100%;
    height: 40px;
    color: #45C4B0;
}
.header div{
    float: left;
    color: #45C4B0;
}
.header a{
    text-decoration: none;
}
.header .a{
    margin: 0 10px;
    float: right;
}
h1{
    z-index: 2;
    font-size: 200px;
    font-family: 'Dancing Script', cursive;
}
.video{
    width: 100%
}
.main{
    font-size: 40px;
    background-color: #13678A;
    color: #45C4B0;
    text-align : center;
}
body{
    margin: 0;
    width:100%;
	height:100%;
}
p{
    font-family: 'Noto Serif JP', serif;
}
img{
    position: relative;
    width: 500pX;
}
